/*------------------------------------*\
  Main
\*------------------------------------*/
@import '../../node_modules/foundation-sites/assets/foundation';
@include foundation-flex-classes;
@include foundation-flex-grid;

html,body{
  height: 100%;
}
body{
  background-color: $light-gray;
}
.center{
  align-items: center;
}
#loading-bar {
  .bar {
    background-color: #333;
    height: 3px;
  }
}
*,*:hover,*:focus,*:active{
  outline: none;
}
