/*------------------------------------*\
  Footer
\*------------------------------------*/
footer{
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  ul{
    display: inline-block;
    li{
      a{
        color: #fff;
      }

    }
  }
  .social-icons{
    font-size: 30px;
    li{
      i{
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
  p{
    padding: 0;
    margin: 0;
  }
}
