.top-bar {
  background-color: $primary-color;

  ul{
    background-color: $primary-color;
    li{
      &.active{
        a{
          background-color: rgba(0,0,0,0.3)

        }
      }
      color:#fff;

      a{
        color:#fff;
      }
    }
  }

}

@media screen and (min-width: 40em) {
   .top-bar {
    display: block;
  }

   .title-bar {
    display: none;
  }
}
