node_modules/*
!node_modules/angular/
!node_modules/angular-ui-router/release/
!node_modules/angular-loading-bar/build/
!node_modules/jquery/dist/
!node_modules/foundation-sites/dist/js/
!node_modules/angular-loading-bar/build/
